{% extends "base.html" %}

{% block page_content %}
<div class="col-lg-8" style="background-color:white">
    <article role="article">
        <header> <h1 class="entry-title">About</h1> <p class="meta"> </p> </header>
        <img class="pad" style="border: 1px solid #cccccc; padding: 3px; margin-right: 1em;" title="Sbybfai Li" src="https://i.loli.net/2019/05/01/5cc92fddbd009.jpg" alt="Sbybfai Lei" width="164" height="147" align="left">
            <p>Sbybfai于2012年从左家垅男子职业技术学院毕业，成为一名程序员。先在一家游戏公司做服务端开发，痛苦并快乐着。后来项目解散，心灰意冷，索性回到家乡，目前在一家国企里搬砖。</p>
            <p>Sbybfai最大的爱好是书法，起源于初中语文老师每次批改作文时，都不忘让他“好好练字”。在老师的淫威之下，被迫练字，进而喜欢上书法。虽然时代进步，用笔的机会不多，这项爱好仍不离不弃。除此之外，Sbybfai爱读书，爱睡觉，爱写代码。</p>
            <p>Sbybfai很懒，喜欢Money但很少花心思研究致富之道。因此，在可预见的未来，很难成为一名成功人士。如果即便如此您仍然需要联系他，可以试试发邮件给他。</p>

            <div>
                <ul class="list-unstyled" style="margin-bottom:15px;margin-left:15px;">
                    <li><a href="https://github.com/sbybfai"><i class="fa fa-github" aria-hidden="true"></i> &nbsp github.com/sbybfai</a></li>
                    <li><a href="#"><i class="fa fa-envelope" aria-hidden="true" fa-5x></i> &nbsp sbybfai@gmail.com</a></li>
                </ul>
            </div>

    </article>
</div>
{% endblock %}