{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Flasky - Post{% endblock %}

{% block page_content %}
{% include '_post_detail.html' %}
<h4 id="comments"><i class="fa fa-commenting" aria-hidden="true"></i> 评论：</h4>
{% include '_comments.html' %}
{% if current_user.can(Permission.COMMENT) %}

<div style="margin-top: 40px;">
    <h4>我要发表看法</h4>
    <hr />
</div>

<div class="comment-form">

    <form class="form" method="post" action="{{ url_for('main.add_comment', id=post.id) }}">
        {{ postForm.hidden_tag() }}
        <div class="col-md-3" style="margin-top:10px">
          {{ postForm.name(class="form-control", placeholder="名字") }}
        </div>
        <div class="col-md-3" style="margin-top:10px">
          {{ postForm.email(class="form-control", placeholder="邮箱") }}
        </div>
        <div class="col-md-3" style="margin-top:10px">
          {{ postForm.url(class="form-control", placeholder="网址") }}
        </div>
        <div class="col-md-9" style="margin-top:10px">
          {{ postForm.body(class="form-control", placeholder="内容") }}
        </div>
        <div class="col-md-12" style="margin-top:10px">
        <button type="submit" class="btn btn-primary">回复</button>
        </div>
    </form>

</div>
{% endif %}
{% if pagination %}
<div class="col-md-12 text-center">
    {{ macros.pagination_widget(pagination, '.post', fragment='#comments', id=post.id) }}
</div>
{% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/post.js') }}"></script>
{% endblock %}
